// Button Colors
$color-default-button: #51ddfc;
$color-error-button:#e4757a;
$color-info-button:#927bc1;
$color-success-button:#63cc82;
$color-warning-button:#fd7856;

// Media Query
$brk-wide: '(min-width: 768px)';

// Primary Color
$color-primary: #58e1c1;

// Body Text Color
$color-body-text: #777; 

// Body Font Family
$font-family-main: 'Lato', sans-serif;

