/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;

    @media #{$brk-wide} {
      padding: 10px 30px;
    }
  }
  
  .default {
    background-color: $color-default-button;
  }
  
  .error {
    background-color: $color-error-button;
  }
  
  .info {
    background-color: $color-info-button;
  }
  
  .success {
    background-color: $color-success-button;
  }
  
  .warning {
    background-color: $color-warning-button;
  }